{% extends 'base.html' %}
{% block content %}
{% load static%}
  <body>


{% include "header.html" %}



    <section class="login-page">
      <h2>Załóż konto</h2>
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
        {{form.as_p}}
        </div>
        <div class="form-group form-group--buttons">
          <a href="{%url 'login'%}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>


    </section>


  </body>
</html>

{% endblock %}